@{
	
	ViewBag.Title = "About";
}

<div class="heading" style="align-content:center ">
	
<h1>About</h1>


<P>
	<pre>
	Mirpur Khas (Sindhi and Urdu: میرپور خاص; meaning "Town of the most-high Mirs") .
	Is the capital city of the Mirpur Khas District and Mirpur Khas Division in the Sindh province, Pakistan.
	Mirpur Khas is the 6th largest city in Sindh province and the 34th largest city of Pakistan. 
	The city was built by Talpur rulers of Mankani branch. 
	According to the 2017 Census of Pakistan, its population is 233,916.
	[3] Mirpur Khas is known for its mango cultivation, 
	with hundreds of varieties of the fruit produced each year - it is also called the “City of Mangoes,” 
	and has been home to an annual mango festival since 1955.
	[4] After the completion of Hyderabad-Mirpurkhas dual carriage way, the city has become hub of commercial activities.
	Mirpur Khas is the capital city of the Mirpur Khas District and Mirpur Khas Division in the Sindh province, Pakistan. 
	Mirpur Khas is the 6th largest city in Sindh province and the 34th largest city of Pakistan. 
	The city was built by Talpur rulers of Mankani branch.
	Weather: 28°C, Wind SW at 31 km/h, 73% Humidity More on weather.com
	Population: 233,916 (2017)
	Area code: 0233
	Neighborhoods: Unit Number III, Panhwar Colony, Muhajir Colony, MORE
	District: Mirpur Khas
	Number of towns: 10
	Province: Sindh.
	Early

Famous bronze of brahma ,5th-6th century, Gupta dynasty.
The Mirpur Khas region has been inhabited for millennia, 
as evidenced by the excavation of the Buddhist-era settlement of Kahoo Jo Daro and various hindu temples.
The remnants of them still remain. 
The famous Bronze of hindu god brahma from gupta dynasty (5th or 6th century bronze) has been excavated from here[5]
It is the earliest known metallic image of Brahma,
[6] and the only known representative of the school it represents.
[7] It has been described as "an immense artistic creation" of the Gupta period.
[8][9] In 712 CE, the region was conquered by the armies of Muhammad Bin Qasim.

<h1>Foundings:</h1>

The 18th century Chitorri graves were built for the rulers of Mirpur Khas.
The Talpur dynasty conquered Sindh in 1784,[10] and under Mir Fath Ali Khan, 
Sindh was divided into three smaller regions to be ruled by members of the Talpur family.
[11] The three regions were centred around Hyderabad, Khairpur, and Mirpur Khas.
The Mankani branch of the family under Mir Ali Murad Talpur inherited the region around Mirpur Khas in 1801, 
and founded the new city of Mirpur Khas in 1806 to serve as the new capital.[12]

<h1>Mirpur Khas State</h1>

The Talpur Princes of Mirpurkhas: Third from the left is Mir Ali Murad Talpur II, 
the great grandson of Mir Ali Murad Talpur, the founder of Mirpur Khas.
Mir Sher Muhammad Talpur (1829-1843) succeeded Mir Ali Murad, 
and built a fort in the city when he declared the ruler of the state, 
and ran a kutchery from within the fort. 
Elaborate graves for the local rulers were built at Chitorri, and 
feature a syncretic architectural style that combines elements of Islamic and Rajasthani architecture.[13]

Mirpur Khas remained the capital of the Talpur Mirs of Mirpurkhas until 1843,
when Sindh was annexed to British India under the East India Company following the 
conquest of Sindh by Charles James Napier and defeat of Mir Sher Muhammad Talpur on 24 March 1843 at the battleground of Dubbo.
[14] His battle for the Sindh state earned him the moniker "Lion of Sindh."[15]

British
Later Sindh was made part of the colonial Bombay Presidency and Mirpurkhas was a part of it. 
Umerkot was made the district's headquarters town of Thar and Parkar district and 
Mirpur Khas was ignored until the advent of the Luni-Hyderabad branch of the Jodhpur-Bikaner Railway,
[14] a subsidiary of the Scinde Railway to the town. 
The opening of the Jamrao Canal in 1900 made Mirpur Khas stand out of the rest of the towns in the district.
It was constituted a municipality in 1901[14]
and the district headquarters was shifted from Umerkot to Mirpurkhas in 1906.

At the turn of the twentieth century, the population of the town was 2,787 with a density of 82 persons per square mile,
however the district, as a whole, saw significant growth in the rise of population from 27,866 (1891) to 37,273 (1901). 
The cotton produced at Mirpur Khas was considered the best in the country when surveyed and the British exploited the produce by exporting it to other nations.[14]
</pre>
</P>


</div>

