@{
	
	ViewBag.Title = "About";
}

<div class="heading" style="align-content:center ">
	
<h1>About</h1>


<P>
	<pre>
	Mirpur Khas (Sindhi and Urdu: میرپور خاص; meaning "Town of the most-high Mirs") .
	Is the capital city of the Mirpur Khas District and Mirpur Khas Division in the Sindh province, Pakistan.
	Mirpur Khas is the 6th largest city in Sindh province and the 34th largest city of Pakistan. 
	The city was built by Talpur rulers of Mankani branch. 
	According to the 2017 Census of Pakistan, its population is 233,916.
	[3] Mirpur Khas is known for its mango cultivation, 
	with hundreds of varieties of the fruit produced each year - it is also called the “City of Mangoes,” 
	and has been home to an annual mango festival since 1955.
	[4] After the completion of Hyderabad-Mirpurkhas dual carriage way, the city has become hub of commercial activities.
	Mirpur Khas is the capital city of the Mirpur Khas District and Mirpur Khas Division in the Sindh province, Pakistan. 
	Mirpur Khas is the 6th largest city in Sindh province and the 34th largest city of Pakistan. 
	The city was built by Talpur rulers of Mankani branch.
	Weather: 28°C, Wind SW at 31 km/h, 73% Humidity More on weather.com
	Population: 233,916 (2017)
	Area code: 0233
	Neighborhoods: Unit Number III, Panhwar Colony, Muhajir Colony, MORE
	District: Mirpur Khas
	Number of towns: 10
	Province: Sindh.
</pre>
</P>


</div>

