@{
	ViewBag.Title = "Gallery";
}
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/Roundabout.jpg">
                <figure class="figure">
                    <img src="~/images/Roundabout.jpg" class="figure-img img-fluid rounded" alt="Roundabout">
                    <figcaption class="figure-Caption" style="text-align:center">Roundabout Mirpurkhas.</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/mps1.jpg">
                <figure class="figure">
                  <img src="~/images/mps1.jpg" class="figure-img img-fluid rounded" alt="Mps City">
                  <figcaption class="figure-Caption" style="text-align:center">City Mirpurkhas.</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/ashrifi.jpg">
                <figure class="figure">
                    <img src="~/images/ashrifi.jpg" class="figure-img img-fluid rounded" alt="Ashrafi Sweets">
                    <figcaption class="figure-Caption" style="text-align:center">Sweets Mirpurkhas.</figcaption>
                </figure>
            </a>
        </div>
    </div>
      <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/tomb.jpg">
                <figure class="figure">
                    <img src="~/images/tomb.jpg" class="figure-img img-fluid rounded" alt="Tomb">
                    <figcaption class="figure-Caption" style="text-align:center">Ancients Tombs Mirpurkhas.</figcaption>
                </figure>
                </a>
            </div>
      </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/mosque.jpg">
                <figure class="figure">
                    <img src="~/images/mosque.jpg" class="figure-img img-fluid rounded" alt="Mosque">
                    <figcaption class="figure-Caption" style="text-align:center">Beautifull Mosque Mirpurkhas.</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/palm.jpg">
                <figure class="figure">
                    <img src="~/images/palm.jpg" class="figure-img img-fluid rounded" alt="Palm Society">
                    <figcaption class="figure-Caption" style="text-align:center">Palm Society Mirpurkhas.</figcaption>
                </figure>
            </a>
        </div>
    </div>


</div>