@{
	ViewBag.Title = "Gallery";
}
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/css/waterpark.jpg">
                <img src="/css/waterpark.jpg" alt="WaterPark" style="width:100%">
                <div class="caption">
                    <p>Dolphin Water Park Mirpurkhas</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/css/3een.jpg">
                <img src="/css/3een.jpg" alt="3eenTalwar" style="width:100%">
                <div class="caption">
                    <p>3een Talwar.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/css/tomb.jpg">
                <img src="/css/tomb.jpg" alt="tomb" style="width:100%">
                <div class="caption">
                    <p>Ancient Tomb</p>
                </div>
            </a>
        </div>
    </div>
      <div class="col-md-4">
            <div class="thumbnail">
                <a href="/css/Roundabout.jpg">
                    <img src="/css/Roundabout.jpg" alt="tomb" style="width:100%">
                    <div class="caption">
                        <p>Roundabout</p>
                    </div>
                </a>
            </div>
      </div>
  
</div>