@{
	ViewBag.Title = "Index";
}

	
<p>
	Mirpur Khas (Sindhi and Urdu: میرپور خاص; meaning "Town of the most-high Mirs"). 
	It is the capital city of the Mirpur Khas District and Mirpur Khas Division in the Sindh province, Pakistan.
	Mirpur Khas is the 6th largest city in Sindh province and the 34th largest city of Pakistan. 
	The city was built by Talpur rulers of Mankani branch. 
	According to the 2017 Census of Pakistan, its population is 233,916.
	[3] Mirpur Khas is known for its mango cultivation, with hundreds of varieties of the fruit.
</p>
<form asp-controller="Home" asp-action="About" method="post">
	<div class="mb-sm-1">
	  <button type="submit" class="btn btn-outline-primary">ReadMore</button>
	</div>
</form>

  

