@{
    ViewBag.Title = "Detail";
}
<div>
    <h4>Product</h4>
    <hr />

    <table border="1" width="85%">
        <thead>
            <tr>
                <th>
                    FullName
                </th>

                <th>
                    Phone
                </th>

                <th>
                    Email
                </th>

               

            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    @Model.FullName
                </td>

                <td>
                    @Model.Phone
                </td>

                <td>
                    @Model.Email
                </td>

               
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-controller="Products" asp-action="Products">back to product list</a>
</div>


